/* Castating Stylesheet , cascata de forma de estilo*/
* {
  margin: 0;
}
html,
body {
  --grey: hsl(240, 9%, 89%); /*declaração de variavel*/
  --black: hsl(240, 6%, 13%);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}
main {
  background: url(images/background.svg);
  width: 375px; /*largura*/
  height: 812px; /*altura*/
}
.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}
.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1; /*profundidade da imagem */
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover; /* função que faz a imagem adaptar a largura e altura definidas, cover (cobrir)*/
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
} /* o sinal de > é para pegar apenas a imagem do primeiro nivel*/
h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center; /*garante o alinhamento*/
}
p {
  margin-top: 2rem;
}
ul {
  margin-top: 4rem;
  list-style: none; /*tira as bolinhas da lista*/
  padding: 0;
  display: flex; /*faz com que a lista de icones fique um ao lado do outro no eixo x*/
  gap: 0.5rem; /*espaço entre os icones*/
  justify-content: center; /*alinha ao centro no eixo principal, comando disponivel devido ao flex*/
}
